// src/assets/scss/components/_base-input.scss
@use '../abstracts/variables' as v;

.base-input {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 v.$spacing-md;
  border-radius: v.$radius-md;
  margin-bottom: v.$spacing-sm;
  border: 1px solid v.$color-bg-neutral;
  background: v.$color-white;
  transition: border-color v.$transition-fast;

  &:focus-within {
    border-color: v.$color-primary;
  }

  &__icon {
    width: 30px;
    margin-right: v.$spacing-sm;
  }

  &__field {
    border: none;
    outline: none;
    width: 100%;
    font-family: v.$font-main;
    font-size: v.$font-size-subtitle;
    font-weight: 500;
    color: v.$color-black;
    background: transparent;

    &::placeholder {
      color: #BBB;
    }
  }
}