// _nav-card.scss
@use '../abstracts/mixins' as m;

.nav-card {
  @include m.card-big;
  justify-content: center;

  &__icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    flex-shrink: 0;
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

    &--small {
    @include m.card-list;
    justify-content: center;
    min-height: 80px;
  }
}